# Assignment 1

In [ ]:
import numpy as np
import pandas as pd

## Task 1

---
Generating a pandas dataframe with numpy random values

In [ ]:
np.random.seed(9)
data = np.random.randn(4, 4)
df = pd.DataFrame(data, columns=['Feature 1', 'Feature 2', 'Feature 3', 'Feature 4'])
df

   Feature 1  Feature 2  Feature 3  Feature 4
0   0.001109  -0.289544  -1.116066  -0.012883
1  -0.378361  -0.481135  -1.517331  -0.490872
2  -0.240681  -0.647947   0.635891   1.740117
3   0.296682   0.707504   1.822816   0.430769

## Task 2
---
Renaming dataframe columns

In [ ]:
df = df.rename(columns={'Feature 1': 'Random value 1',
                        'Feature 2': 'Random value 2',
                        'Feature 3': 'Random value 3',
                        'Feature 4': 'Random value 4'})
df

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.001109       -0.289544       -1.116066       -0.012883
1       -0.378361       -0.481135       -1.517331       -0.490872
2       -0.240681       -0.647947        0.635891        1.740117
3        0.296682        0.707504        1.822816        0.430769

## Task 3
---
Descriptive statistics

In [ ]:
df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean        -0.080313       -0.177781       -0.043673        0.416783
std          0.296257        0.608085        1.556415        0.959142
min         -0.378361       -0.647947       -1.517331       -0.490872
25%         -0.275101       -0.522838       -1.216383       -0.132380
50%         -0.119786       -0.385340       -0.240088        0.208943
75%          0.075002       -0.040282        0.932622        0.758106
max          0.296682        0.707504        1.822816        1.740117

## Task 4
---
Null values and datatype of columns

In [ ]:
df.isnull().sum()

Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64

In [ ]:
data_types = df.dtypes

## Task 5
---
Display the 'Random value 2' & 'Random value 3' columns with location method and index location method

In [ ]:
df.loc[:, ['Random value 2', 'Random value 3']]

   Random value 2  Random value 3
0       -0.289544       -1.116066
1       -0.481135       -1.517331
2       -0.647947        0.635891
3        0.707504        1.822816

In [ ]:
df.iloc[:, [1, 2]]

   Random value 2  Random value 3
0       -0.289544       -1.116066
1       -0.481135       -1.517331
2       -0.647947        0.635891
3        0.707504        1.822816